BlazorRDLCViewerWebAssembly.Client/Reports/ReportItemSchemas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" id="ReportItemSchemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReportItem" nillable="true" type="ReportItem" />
  <xs:complexType name="ReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Price" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Qty" type="xs:int" />
	  <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>